<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name Suggestions</title>
</head>
<body>
    <h1>Enter name or alphabet/s to get suggestions</h1>
    <form method="post">
        <input type="text" name="name_input" placeholder="Type here">
        <input type="submit" value="Get Suggestions">
    </form>
    {% if suggestions %}
        <h2>Suggestions</h2>
        <ul>
        {% for suggestion in suggestions %}
            <li>{{ suggestion }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
